{% extends "base.html" %}

{% block title %}

<title>Public Photos</title>

{% endblock %}

{% block content %}
            <div class="container">
                <h3 class="brand-heading">
                <br>
                Photos. Photos Everywhere.</h3>
                <p >Photos.</p>

                <h3> Public Photos: </h3>
                <ul>
                {% for photo in photos %}
                <li>
                <a href="{{ photo.image_file.url }}">
                <img src="{{ photo.image_file.url }}" width="100px" height="100px"></a>
                <p>{{ photo.description }}</p>
                </li>
                {% endfor %}
                </ul>
            </div>

{% endblock %}